.scorecard{
     font-weight: bold;
}

th{
    width: 2.5em;
}

.hole-score{
    width: 2.5em;
}

.tableheadercolumn{
    width: 4em;
}

.teebox{
    border-radius: 30px;
}

.holehcppar{
    background-color: rgb(62, 84, 87);
    border-radius: 30px;
}